{%extends "padrao.html"%}

{%block conteudo%}
        <form method="post" action="/adicionar">
            <fieldset>
                <div class= "mb-3">
                <label for="txtNome" class="mb-3">Nome da música</label>
                <input type="text" name="txtNome" id="txtNome" class="form-control">
                </div>

                <div class= "mb-3">
                <label for="txtArtista" class="mb-3">Artista / Grupo / Banda</label>
                <input type="text" name="txtArtista" id="txtArtista" class="form-control">
                </div>

                <div class= "mb-3">
                <label for="txtGenero" class="mb-3">Gênero</label>
                <input type="text" name="txtGenero" id="txtGenero" class="form-control">
                </div>
                <div class= "mb-3">
                <button type="submit" class="btn btn-success">Cadastrar musica</button>
                </div>
            </fieldset>
        </form>
{%endblock%}
