<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Música</title>
    <link rel="stylesheet"  href="{{url_for('static', filename='bootstrap.css')}}">
</head>
</head>
<body>
        <form method="post" action="/adicionar">
            <fieldset>

                <legend>Preencha os dados da música:</legend>
                
                <div class= "mb-3">
                <label for="txtNome" class="mb-3">Nome da música</label>
                <input type="text" name="txtNome" id="txtNome" class="form-control">
                </div>

                <div class= "mb-3">
                <label for="txtArtista" class="mb-3">Artista / Grupo / Banda</label>
                <input type="text" name="txtArtista" id="txtArtista" class="form-control">
                </div>

                <div class= "mb-3">
                <label for="txtGenero" class="mb-3">Gênero</label>
                <input type="text" name="txtGenero" id="txtGenero" class="form-control">
                </div>
                <div class= "mb-3">
                <button type="submit" class="btn btn-success">Cadastrar musica</button>
                </div>
            </fieldset>
        </form>
</body>
</html>