{%extends "padrao.html"%}

{%block conteudo%}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="list-unstyled" id="messages">
        {% for message in messages %}
        <li class="alert alert-danger">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
        <form method="post" action="{{url_for('atualizar')}}">
            <fieldset>
                <div class= "mb-3">
                <label for="txtNome" class="mb-3">Nome da música</label>
                <input type="text" name="txtNome" id="txtNome" class="form-control">
                </div>

                <div class= "mb-3">
                <label for="txtArtista" class="mb-3">Artista / Grupo / Banda</label>
                <input type="text" name="txtArtista" id="txtArtista" class="form-control">
                </div>

                <div class= "mb-3">
                <label for="txtGenero" class="mb-3">Gênero</label>
                <input type="text" name="txtGenero" id="txtGenero" class="form-control">
                </div>
                <div class= "mb-3">
                <button type="submit" class="btn btn-success">Cadastrar musica</button>
                </div>
            </fieldset>
        </form>
{%endblock%}
