<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Músicas</title>
    <link rel="stylesheet"  href="{{url_for('static', filename='lista_musica.css')}}">
</head>
<body>
    <h1>Músicas cadastradas: - {{titulo}}</h1>
    <table>
        <tr>
            <th>música</th>
            <th>artista / grupo / banda</th>
            <th>gênero</th>
        </tr>

        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {% for musica in musicas%}
        <tr>
            <td>{{musica}}</td>
            <td></td>
            <td></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>