<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Músicas</title>
    <link rel="stylesheet"  href="{{url_for('static', filename='bootstrap.css')}}">
</head>
<body>
        <div class="container">
        <h1>Músicas cadastradas: - {{titulo}}</h1>
        <table class="table table-hover">
            <thead class="table-dark">
                <tr>
                    <th>música</th>
                    <th>artista / grupo / banda</th>
                    <th>gênero</th>
                </tr>
            </thead>

                <tbody>
                    {% for musica in musicas%}
                    <tr>
                        <td>{{musica.nome}}</td>
                        <td>{{musica.artista}}</td>
                        <td>{{musica.genero}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
        </table>
        </div>
</body>
</html>