<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet"  href="{{url_for('static', filename='index.css')}}">
</head>
</head>
<body>
    <form method="post" action="/autenticar">
        <fieldset>
            <legend>Preencha seus dados:</legend>
            <label>Usuário</label>
        <input type="text" name="txtUsuario">

        <label>Senha</label>
        <input type="password" name="txtSenha">

        <button type="submit">Entrar</button>
        </fieldset>
    </form>
</body>
</html>