<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet"  href="{{url_for('static', filename='bootstrap.css')}}">
</head>
</head>
<body>
    <div class="container">
    <form method="post" action="/autenticar">
        <fieldset>
            <legend>Preencha seus dados:</legend>
            <div class= "mb-3">
            <label for="txtUsuario" class="mb-3">Usuário:</label>
            <input type="text" name="txtUsuario" id="txtUsuario" class="form-control">
            </div>
            <div class= "mb-3">
            <label for="txtSenha" class="mb-3">Senha:</label>
            <input type="password" name="txtSenha" id="txtSenha" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Entrar</button>
        </fieldset>
    </form>
    </div>
</body>
</html>