<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>{{ titulo }}</title>
    <!-- url_for serve para gerar urls mais dinâmicas, primeiro fala o nome da pasta e depois o nome do arquivo -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
</head>

<body>

    <div class="container mt-5">
        <!-- Mensagem de sucesso ou erro, código do Flask-->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="list-unstyled" id="message">
                    {% for message in messages %}
                        <li class="alert alert-danger">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <form method="post" action="{{ url_for('autenticar') }}">

            <fieldset class="border p-4 rounded">
                <legend class="float-none w-auto px-2">
                    Preencha seus dados:
                </legend>

                <div class="mb-3">
                    <label for="txtLogin" class="form-label">Usuário:</label>
                    <input type="text"
                           name="txtLogin"
                           id="txtLogin"
                           class="form-control">
                </div>

                <div class="mb-3">
                    <label for="txtSenha" class="form-label">Senha:</label>
                    <input type="password"
                           name="txtSenha"
                           id="txtSenha"
                           class="form-control">
                </div>

                <button type="submit" class="btn btn-success">
                    Entrar
                </button>

            </fieldset>

        </form>

    </div>

</body>
</html>

  
